:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.items {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2%;
  justify-content: space-evenly;
}

.addItem {
  font-weight: bold;
  font-size: 40px;
  border-radius: 50%;
  background-color: #ff914c;
  color: white;
}

.matTooltip {
  font-size: 30px;
}
